@value sidePadding from "../Years/Years.css";
@value baseColorLightest from "../../core/styles/values/colors.css";

.grid {
  position: absolute;

  width: 100%;
  padding: 0 sidePadding;
}

.gridLine {
  display: block;
  float: left;

  width: 1px;
  height: 100%;
  margin-right: calc(1/7 * 100%);
  margin-left: -1px;

  background-color: baseColorLightest;
}

.gridLine:last-child {
  margin-right: 0;
}
