@value primaryColor, secondaryColor from "../../core/styles/values/colors.css";

.headline {
  composes: heading-1 from '../../core/styles/helpers/typography.css';
  color: secondaryColor;
}

.subtitle {
  composes: heading-2 from '../../core/styles/helpers/typography.css';
  color: primaryColor;
}

.byline {
  composes: heading-3 from '../../core/styles/helpers/typography.css';
}

.anotherLine {
  composes: heading-4 from '../../core/styles/helpers/typography.css';
}

.blockquote {
  composes: blockquote-right from '../../core/styles/helpers/typography.css';
}
