@value primaryColor from "../../core/styles/values/colors.css";
@value baseMargin from "../../core/styles/values/typography.css";

@value height: calc(baseMargin * 3);
@value rectWidth: 6px;
@value rectMargin: 3px;

.loader {
  position: absolute;
  left: 50%;

  width: calc((rectWidth + rectMargin) * 5 - rectMargin);
  height: height;
  margin-top: calc(baseMargin * 3);
  margin-left: calc( ( ( (rectWidth + rectMargin) * 5 - rectMargin ) / 2 ) * -1 );

  text-align: center;
}

.loaderRect {
  display: inline-block;

  width: rectWidth;
  height: 100%;
  margin-right: rectMargin;

  animation: stretch 1.2s infinite ease-in-out;

  border-radius: 1px;
  background-color: primaryColor;
}

.loaderRect1 {
  composes: loaderRect;

  animation-delay: -1.2s;
}

.loaderRect2 {
  composes: loaderRect;

  animation-delay: -1.1s;
}

.loaderRect3 {
  composes: loaderRect;

  animation-delay: -1s;
}

.loaderRect4 {
  composes: loaderRect;

  animation-delay: -0.9s;
}

.loaderRect5 {
  composes: loaderRect;

  margin-right: 0;

  animation-delay: -0.8s;
}

@keyframes stretch {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
