@value baseLineHeight from "../../core/styles/values/typography.css";
@value breakpointSmallMax, breakpointMediumMax from "../../core/styles/values/breakpoints.css";
@value containerWidth from "../../core/styles/values/layout.css";

@value sidePadding: 10px;

.years {
  width: 100%;
  height: 4em;
  padding: 2em sidePadding 0;

  transition: opacity 300ms;

  opacity: 1;
  background-color: #fff;
}

.years.fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 2em;
  padding-right: calc(baseLineHeight + sidePadding);
  padding-left: calc(baseLineHeight + sidePadding);
}

/* TODO: Refactor this width */
@media (min-width: 996px) {
  .years.fixed {
    left: auto;
    right: auto;

    max-width: calc(containerWidth - 1.5em * 2);

    padding-right: sidePadding;
    padding-left: sidePadding;
  }
}

.years.faded {
  opacity: 0.01;
}

.year {
  display: block;
  float: left;

  width: 1px;
  margin-top: 1.5em;
  margin-right: calc(1/7 * 100%);
  margin-left: -1px;

  background-color: #ccc;
}

.year:last-child {
  margin-right: 0;
}

.label {
  display: block;

  margin-top: -1em;

  transform: rotate(-90deg);
}

/* TODO: Refactor this */
@media breakpointMediumMax {
  .label {
    opacity: 0;
  }

  .year:first-child .label,
  .year:nth-child(4) .label,
  .year:nth-child(7) .label,
  .year:nth-child(10) .label,
  .year:nth-child(13) .label,
  .year:last-child .label {
      opacity: 1;
  }
}

@media breakpointSmallMax {
  .year:nth-child(4) .label,
  .year:nth-child(7) .label,
  .year:nth-child(10) .label,
  .year:nth-child(13) .label {
    opacity: 0;
  }

  .year:first-child .label,
  .year:nth-child(6) .label,
  .year:nth-child(11) .label,
  .year:last-child .label {
      opacity: 1;
  }
}
