@value breakpointSmall, breakpointMedium, breakpointLarge from "../../core/styles/values/breakpoints.css";
@value primaryColor, tertiaryColor, invertedColor, baseColor, baseColorLight from '../../core/styles/values/colors.css';
@value baseMargin from '../../core/styles/values/typography.css';
@value defaultTransition as transition from '../../core/styles/values/transitions.css';
@value breakpointMedium from "../../core/styles/values/breakpoints.css";

.root {
  clear:fix;

  margin-top: calc(baseMargin * 5);
  padding-top: calc(baseMargin * 2);

  border-top: solid 1px baseColor;

  font-size: 0.809em;

  @media breakpointMedium {
    padding-top: calc(baseMargin * 2);
  }
}

.root p {
  margin-bottom: 0;

  color: tertiaryColor;
}

.builtWith {
  margin-bottom: baseMargin;

  text-align: center;

  @media breakpointMedium {
    margin-bottom: 0;

    text-align: left;

    lost-column: 19/31;
  }
}

.builtWith a {
  color: primaryColor;
}

.logoLink {
  margin-left: 0.33em;
}

.logoLink:after {
  content: ', ';
}

.logoLink:last-child:after {
  content: '';
}

.githubLink {
  text-align: center;

  @media breakpointMedium {
    text-align: right;

    lost-column: 12/31 2;
  }
}

.githubLink a {
  color: primaryColor;
}

.githubLink a svg {
  position: relative;
  top: 2px;

  margin-right: calc(baseMargin / 4);
}

.githubLink a svg path {
  fill: primaryColor;
}

.copyright {
  margin-top: calc(baseMargin / 2);

  text-align: center;

  lost-column: 1/1;
}
