/*
 * Resets the typographic styles
 */

@value secondaryColor, secondaryColorDark, baseColor, baseColorLight from "./values/colors.css";
@value baseFontFamily, baseFontSize, baseFontSizeSmall, baseFontSizeSmaller, baseLineHeight, baseFontWeight, baseMargin, baseFontSizeSmall, baseFontSizeSmaller from "./values/typography.css";
@value defaultTransition as transition from "./values/transitions.css";
@value breakpointMedium, breakpointMediumMax, breakpointSmallMax from "./values/breakpoints.css";

html {
  color: baseColor;

  font-family: baseFontFamily;
  font-size: baseFontSize;
  line-height: baseLineHeight;
}

/* TODO: Fix these breakpoints */
@media breakpointMediumMax {
  html {
    font-size: baseFontSizeSmall;
  }
}

@media breakpointSmallMax {
  html {
    font-size: baseFontSizeSmaller;
  }
}

/* Reset typographic block font-sizes and margins */
h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: baseMargin;

  font-size: inherit;
  font-weight: baseFontWeight;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr {
  margin: -1px 0;

  border: 1px solid;
}

blockquote {
  color: baseColorLight;
  border-left: solid 5px baseColorLight;
  padding-left: baseMargin;

  @media breakpointMedium {
    lost-column: 12/31 1;
  }
}

blockquote *:last-child {
  margin-bottom: 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  position: relative;

  vertical-align: baseline;

  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  transition: transition;
  text-decoration: none;

  color: secondaryColor;
}

a:hover, a:focus {
  text-decoration: underline;

  color: secondaryColorDark;
}

*:focus {
  outline: none
}
