@value baseLineHeight from "../../core/styles/values/typography.css";
@value containerWidth from "../../core/styles/values/layout.css";

.root {
  height: 100%;
}

.content {
  lost-center: containerWidth;
}

.contentPad {
  padding: 0 baseLineHeight;
}
