@value primaryColor, primaryColorDarker, invertedColor from "../../core/styles/values/colors.css";
@value item as skillItem, bar as skillBar, label as skillLabel from "../Skill/Skill.css";
@value baseLineHeight, small from "../../core/styles/values/typography.css";
@value defaultTransition as transition from "../../core/styles/values/transitions.css";

.item {
  composes: skillItem;
}

.itemCollapsed {
  composes: item;
}

.bar {
  composes: skillBar;

  cursor: pointer;
  transition: transition;

  background-color: primaryColor;
}

.bar:hover, .bar:focus {
  background-color: primaryColorDarker;
}

.label {
  composes: skillLabel;

  padding: calc(baseLineHeight / 2) calc(baseLineHeight / 3);
}

.icon {
  float: right;

  margin-top: calc(baseLineHeight / 2);
  margin-right: calc(baseLineHeight * 2/3);
}

.icon svg {
  transition: transform 300ms;
  transform: rotate(-90deg);
}

.icon path {
  fill: invertedColor;
}

.itemCollapsed .icon svg {
  transform: rotate(90deg);
}
